<h1>Welcome <%=@user.email%></h1>

<br>

<div class="span1">&nbsp;</div>
<div class="span3">
  <div class="well">
   <h3>Device Groups</h3>
   <br>
    <ul class="thumbnails">
      <li class="span2">
        <a href="#" class="thumbnail">
          <p>Device Group1</p>
        </a>
        <span class="label">Selected Profile</span>
        <br>
        <%=render "shared/profile_list" %>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <p>Device Group2</p>
        </a>
         <span class="label">Selected Profile</span>
        <br>
        <%=render "shared/profile_list" %>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <p>Device Group3</p>
        </a>
         <span class="label">Selected Profile</span>
        <br>
        <%=render "shared/profile_list" %>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <p>Device Group4</p>
        </a>
         <span class="label">Selected Profile</span>
        <br>
        <%=render "shared/profile_list" %>
      </li>
    </ul>
  </div>
</div>

  <div class="span1">&nbsp;</div>
    <div class="span3">
      <div class="well sidebar-nav">
         <h3>Edit Profiles</h3>
         <ul class="nav nav-list">
           <li class="nav-header">Available Profiles</li>
           <li><a>Profile 1</a></li>
           <li><a>Profile 2</a></li>
           <li><a>Profile 3</a></li>
           <li><a>Profile 4</a></li>
          </ul>
          <a class="btn">Create a Profile</a>
        </div> 
    </div> 

    <div class="span1">&nbsp;</div>
    <div class="span3">
      <div class="well sidebar-nav">
         <h3>Edit Device Groups</h3>
         <ul class="nav nav-list">
           <li class="nav-header">Available Groups</li>
           <li><a>Group 1</a></li>
           <li><a>Group 2</a></li>
           <li><a>Group 3</a></li>
           <li><a>Group 4</a></li>
          </ul>
          <a><%= link_to "Create a Device", main_new_device_create_path, :class=>"btn" %></a>
        </div> 
    </div> 





