<h1>Welcome <%=@user.email%></h1>

<br>
<div class="span8">
  <div class="well">
   <h3>Device Groups</h3>
   <br>
    <ul class="thumbnails">
       <%=render "shared/main_group_list"%>
    </ul>
  </div>
</div>

    <div class="span3">
      <div class="well sidebar-nav">
         <h3>Edit Policy</h3>
         <ul class="nav nav-list">
           <li class="nav-header">Available Policies</li>
           <%=render "shared/policy_list"%>
          </ul>
          <a><%= link_to "Create a Policy", policy_index_path, :class=>"btn" %></a>
        </div> 

      <div class="well sidebar-nav">
         <h3>Edit Device Groups</h3>
         <ul class="nav nav-list">
           <li class="nav-header">Available Groups</li>
           <%=render "shared/group_list"%>
           <%=render "shared/flash_notice"%>
          </ul>
          <a><%= link_to "Create a Group", main_new_group_create_path, :class=>"btn" %></a>
          <a><%= link_to "Create a Device", main_new_device_create_path, :class=>"btn" %></a>
        </div> 

      <div class="well sidebar-nav">
         <h3>Phone Number List</h3>
         <ul class="nav nav-list">
           <li class="nav-header">Available Lists</li>
           <%=render "shared/phonelist"%>
           <%=render "shared/flash_notice"%>
          </ul>
          <a><%= link_to "Create a Phone Number List", phone_list_show_path, :class=>"btn" %></a>
        </div> 
    </div> 





