<br>

<div class="row">
<div class="span4 offset4">
<div class="well">

<%=render "shared/flash_notice"%>
<h3>New Device</h3>
<br>
<%= form_for @device, :url => main_create_path do |f| %>

  <%= f.label "Device Name" %>
  <%= f.text_field :name %>
  <%= f.label "Device Make" %>
  <%= f.text_field :make %>
  <%= f.label "Device Model" %>
  <%= f.text_field :model %>
  <%= f.label "Group Assignment" %>
  <%= f.text_field :model %>
  <%= f.hidden_field :account_id, :value => current_account.id %>

<br>
  <%= f.submit "create" %>
<% end %>
</div>
</div>

