<br>

<div class="row">
<div class="span4 offset4">
<div class="well">

<%=render "shared/flash_notice"%>
<h3>New Device</h3>
<br>
<%= form_for @device, :url => main_create_path do |f| %>
  <%= f.label "Device MSISDN (e.g. 44777123456)" %>
  <%= f.text_field :msisdn %>
  <%= f.label "Device Name (Optional)" %>
  <%= f.text_field :name %>
  <%= f.label "Group Assignment" %>
  <%= f.select :group_id, options_for_select(device_form)%>
  <%= f.hidden_field :account_id, :value => current_account.id %>

<br>
  <%= f.submit "create" %>
<% end %>
</div>
</div>

