<br>

<div class="row">
<div class="span6 offset3">
<div class="well">

<%=render "shared/flash_notice"%>
<h3>New Policy</h3>
<br>
<%= nested_form_for @policy, :url => policy_create_path do |f| %>
  <%= f.label "Policy Name" %>
  <%= f.text_field :name %>
  <br>
 <div class="well">
 <h4>Device Lock Settings</h4>
 <br>
 <label class="radio inline"> <%= f.radio_button :lock, true, :id=>"optionsRadios1" %> On </label>
 <label class="radio inline"> <%= f.radio_button :lock, false, :id=>"optionsRadios2"  %> Off </label>
 <br>
 <br>
  <%= f.label "Pin Number" %>
  <%= f.text_field :lock_pin, :class => "input-mini"%>
 </div>



 <div class="well">
 <h4>Call Settings</h4>
   <div class="well">
     <%= f.label "Authorised Numbers Inbound" %>
     <%= f.fields_for :calls_inbound_msisdns do |inbound_msisdn_form| %>
       Number: <%= inbound_msisdn_form.text_field :msisdn %>
       <%= inbound_msisdn_form.link_to_remove "Remove",:class => "btn" %>
     <% end %>
    <p><%= f.link_to_add "Add a Phone Number", :calls_inbound_msisdns, :class => "btn" %> <%= link_to "Add a Number List", "#", :class => "btn" %></p>
   </div>

  <div class="well">
    <%= f.label "Authorised Numbers Outbound" %>
     <%= f.fields_for :calls_outbound_msisdns do |inbound_msisdn_form| %>
       Number: <%= inbound_msisdn_form.text_field :msisdn %>
       <%= inbound_msisdn_form.link_to_remove "Remove",:class => "btn" %>
     <% end %> 
    <p><%= f.link_to_add "Add a Phone Number", :calls_outbound_msisdns, :class => "btn" %> <%= link_to "Add a Number List", "#", :class => "btn" %></p>
  </div>

<!--   <%= f.label "Call Time Window" %>
  <%= f.text_field :name %> -->
</div>



 <div class="well">
 <h4>Messaging Settings</h4>
  <div class="well">
<%= f.label "Authorised Numbers Inbound" %>
     <%= f.fields_for :sms_inbound_msisdns do |inbound_msisdn_form| %>
       Number: <%= inbound_msisdn_form.text_field :msisdn %>
       <%= inbound_msisdn_form.link_to_remove "Remove",:class => "btn" %>
     <% end %>
    <p><%= f.link_to_add "Add a Phone Number", :sms_inbound_msisdns, :class => "btn" %> <%= link_to "Add a Number List", "#", :class => "btn" %></p>
   </div>

  <div class="well">
    <%= f.label "Authorised Numbers Outbound" %>
     <%= f.fields_for :sms_outbound_msisdns do |inbound_msisdn_form| %>
       Number: <%= inbound_msisdn_form.text_field :msisdn %>
      <%= inbound_msisdn_form.link_to_remove "Remove",:class => "btn" %>
     <% end %> 
    <p><%= f.link_to_add "Add a Phone Number", :sms_outbound_msisdns, :class => "btn" %> <%= link_to "Add a Number List", "#", :class => "btn" %></p>
  </div>
<!--   <%= f.label "Call Time Window" %>
  <%= f.text_field :name %> -->
</div>

 <div class="well">
 <h4>Appliction Settings</h4>
   <label class="radio inline"> <%= f.radio_button :calls_inbound_msisdns, true, :id=>"optionsRadios1" %> Voice </label>
   <label class="radio inline"> <%= f.radio_button :calls_inbound_msisdns, false, :id=>"optionsRadios2"  %> Messaging </label>
   <label class="radio inline"> <%= f.radio_button :calls_inbound_msisdns, true, :id=>"optionsRadios1" %> appliction 3 </label>
   <label class="radio inline"> <%= f.radio_button :calls_inbound_msisdns, false, :id=>"optionsRadios2"  %> appliction 4 </label>
   </div>
<br>
  <%= f.hidden_field :account_id, :value => current_account.id %>
  <%= f.submit "create", :class => "btn"%> 
  <p align="right"><%= link_to "Cancel", root_path, :class => "btn" %></p>
<% end %>
</div>
</div>
