<br>

<div class="row">
<div class="span8 offset2">
<div class="well">

<%=render "shared/flash_notice"%>
<h3>New Policy</h3>
<br>
<%= nested_form_for @policy, :url => policy_create_path do |f| %>
  <%= f.label "Policy Name" %>
  <%= f.text_field :name %>
  <br>
 <div class="well">
 <h4>Device Lock Settings</h4>
 <br>
 <label class="radio inline"> <%= f.radio_button :lock, true, :id=>"optionsRadios1" %> On </label>
 <label class="radio inline"> <%= f.radio_button :lock, false, :id=>"optionsRadios2"  %> Off </label>
 <br>
 <br>
  <%= f.label "Pin Number" %>
  <%= f.text_field :lock_pin, :class => "input-mini"%>
 </div>


 <div class="well">
 <h4>Appliction Settings</h4>
 <br>
   <label class="checkbox inline"> <%= f.check_box :voice, :id=>"optionsRadios3" %> Voice </label>
   <label class="checkbox inline"> <%= f.check_box :messaging, :id=>"optionsRadios3"  %> Messaging </label>
   <label class="checkbox inline"> <%= f.check_box :maps, :id=>"optionsRadios3" %> Maps </label>
   <label class="checkbox inline"> <%= f.check_box :phonebook, :id=>"optionsRadios3"  %> PhoneBook </label>
   <br>
   <br>
   <label class="checkbox inline"> <%= f.check_box :browsing, :id=>"optionsRadios3"  %> Browsing </label>
   <label class="checkbox inline"> <%= f.check_box :notes, :id=>"optionsRadios3"  %> Notes </label>

   </div>


<br>
  <%= f.hidden_field :account_id, :value => current_account.id %>
   <%= f.hidden_field :id, :value => @policy.id %>
  <%= f.submit "Next", :class => "btn btn-primary"%>
  <p align="right"><%= link_to "Cancel", root_path, :class => "btn" %></p>

<% end %>
</div>
</div>














      <div id="myModal" class="modal hide">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Create a New Number List</h3>
        </div>
        <div class="modal-body">
          <br>
          <%= form_tag ("/phone_list/create", :method => "POST", :remote => true, :id => "new_review" ) do %>
            List Name
            <br>
            <%= text_field_tag :name %><br><br>
            <%= hidden_field_tag :account_id, current_account.id %>
            <br>
            <div class="well">
            <%= field_set_tag 'Contact Details' do %>
            <%= fields_for :lists do |list_form| %>
            Name: <%= list_form.text_field :member %>
            Number: <%= list_form.text_field :msisdn, :class => "input-small" %>
            <% end %>
            <% end %>
   </div>    
      </div>
        <div class="modal-footer">
          <%= submit_tag("create", :class => "btn") %>  
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <% end %>
        </div>
      </div>
