<br>

<div class="row">
<div class="span6 offset3">
<div class="well">

<%=render "shared/flash_notice"%>
<h3>New Policy</h3>
<br>
<%= nested_form_for @policy, :url => policy_create_path do |f| %>
  <%= f.label "Policy Name" %>
  <%= f.text_field :name %>
  <br>
 <div class="well">
 <h4>Device Lock Settings</h4>
 <br>
 <label class="radio inline"> <%= f.radio_button :lock, true, :id=>"optionsRadios1" %> On </label>
 <label class="radio inline"> <%= f.radio_button :lock, false, :id=>"optionsRadios2"  %> Off </label>
 <br>
 <br>
  <%= f.label "Pin Number" %>
  <%= f.text_field :lock_pin, :class => "input-mini"%>
 </div>


 <div class="well">
 <h4>Appliction Settings</h4>
 <br>
   <label class="checkbox inline"> <%= f.check_box :lock, :id=>"optionsRadios3" %> Voice </label>
   <label class="checkbox inline"> <%= f.check_box :lock, :id=>"optionsRadios3"  %> Messaging </label>
   <label class="checkbox inline"> <%= f.check_box :lock, :id=>"optionsRadios3" %> Maps </label>
   <label class="checkbox inline"> <%= f.check_box :lock, :id=>"optionsRadios3"  %> PhoneBook </label>
   <br>
   <br>
   <label class="checkbox inline"> <%= f.check_box :lock, :id=>"optionsRadios3"  %> Browsing </label>
   <label class="checkbox inline"> <%= f.check_box :lock, :id=>"optionsRadios3"  %> Notes </label>

   </div>


 <div class="well">
 <h4>Call Settings</h4>
   <div class="well">
     <%= f.label "Authorised Numbers Inbound" %>
     <%= f.fields_for :calls_inbound_msisdns do |calls_inbound_msisdns| %>
     <%= calls_inbound_msisdns.select :phonelist_id, options_for_select(phonelist)%>
     <%end%>
    <p><%= f.link_to_add "Add a Number List", :calls_inbound_msisdns, :class => "btn btn-primary" %> <%= link_to "Create a Number List", phone_list_show_path, :class => "btn" %></p>
   </div>




  <div class="well">
    <%= f.label "Authorised Numbers Outbound" %>
     <%= f.fields_for :calls_outbound_msisdns do |calls_inbound_msisdns| %>
     <%= calls_inbound_msisdns.select :phonelist_id, options_for_select(phonelist)%>
     <%end%>
    <p><%= f.link_to_add "Add a Number List", :calls_outbound_msisdns, :class => "btn btn-primary" %> <%= link_to "Create a Number List", phone_list_show_path, :class => "btn" %></p>
  </div>

<!--   <%= f.label "Call Time Window" %>
  <%= f.text_field :name %> -->
</div>


 <div class="well">
 <h4>Messaging Settings</h4>
  <div class="well">
     <%= f.label "Authorised Numbers Inbound" %>
     <%= f.fields_for :sms_inbound_msisdns do |calls_inbound_msisdns| %>
     <%= calls_inbound_msisdns.select :phonelist_id, options_for_select(phonelist)%>
     <%end%>
    <p><%= f.link_to_add "Add a Number List", :sms_inbound_msisdns, :class => "btn btn-primary" %> <%= link_to "Create a Number List", phone_list_show_path, :class => "btn" %></p>

   </div>

  <div class="well">
    <%= f.label "Authorised Numbers Outbound" %>
<%= f.fields_for :sms_outbound_msisdns do |calls_inbound_msisdns| %>
     <%= calls_inbound_msisdns.select :phonelist_id, options_for_select(phonelist)%>
     <%end%>
    <p><%= f.link_to_add "Add a Number List", :sms_outbound_msisdns, :class => "btn btn-primary" %> <%= link_to "Create a Number List", phone_list_show_path, :class => "btn" %></p>

  </div>
<!--   <%= f.label "Call Time Window" %>
  <%= f.text_field :name %> -->
</div>

<br>
  <%= f.hidden_field :account_id, :value => current_account.id %>
   <%= f.hidden_field :id, :value => @policy.id %>
  <%= f.submit "create", :class => "btn btn-primary"%> 
  <p align="right"><%= link_to "Cancel", root_path, :class => "btn" %></p>
<% end %>
</div>
</div>
