<br>

<div class="row">
<div class="span8 offset2">
<div class="well">

<%=render "shared/flash_notice"%>
<h3>New Policy</h3>
<br>
<%= nested_form_for @policy, :url => policy_create_path do |f| %>
  <%= f.label "Policy Name" %>
  <%= f.text_field :name %>
  <br>
 <div class="well">
 <h4>Device Lock Settings</h4>
 <br>
 <label class="radio inline"> <%= f.radio_button :lock, true, :id=>"optionsRadios1" %> On </label>
 <label class="radio inline"> <%= f.radio_button :lock, false, :id=>"optionsRadios2"  %> Off </label>
 <br>
 <br>
  <%= f.label "Pin Number" %>
  <%= f.text_field :lock_pin, :class => "input-mini"%>
 </div>


 <div class="well">
 <h4>Appliction Settings</h4>
 <br>
   <label class="checkbox inline"> <%= f.check_box :voice, :id=>"optionsRadios3" %> Voice </label>
   <label class="checkbox inline"> <%= f.check_box :messaging, :id=>"optionsRadios3"  %> Messaging </label>
   <label class="checkbox inline"> <%= f.check_box :maps, :id=>"optionsRadios3" %> Maps </label>
   <label class="checkbox inline"> <%= f.check_box :phonebook, :id=>"optionsRadios3"  %> PhoneBook </label>
   <br>
   <br>
   <label class="checkbox inline"> <%= f.check_box :browsing, :id=>"optionsRadios3"  %> Browsing </label>
   <label class="checkbox inline"> <%= f.check_box :notes, :id=>"optionsRadios3"  %> Notes </label>

   </div>


<br>
  <%= f.hidden_field :account_id, :value => current_account.id %>
   <%= f.hidden_field :id, :value => @policy.id %>
  <%= f.submit "Next", :class => "btn btn-primary"%>
  <p align="right"><%= link_to "Cancel", root_path, :class => "btn" %></p>

<% end %>
</div>
</div>

