<br>

<div class="row">
<div class="span12">
<div class="well">

<%=render "shared/flash_notice"%>

<h3>New Policy: <%=@policy.name%></h3><p align="right"><%= link_to "Create a New Number List", phone_list_show_path(@policy.id), :class => "btn btn-info" %></p>
<br>
<div class="well" style="background-color:#C0C0C0;">
  <h4>Add Call Settings To New Policy</h4>
  <br>
  <div class="row">
  <div class="span4 offset1">
 <div class="well" style="background-color:grey;">
    <h4>Authorised for Inbound calls</h4> 
    <br>
    <%unless phonelist == [] %>
      <%=form_for @policy, :url => policy_updateaddcallinbound_path(@policy.id) do |f| %>
      <%= f.select :phonelist_id, options_for_select(phonelist)%>
      <%= f.hidden_field :id, :value => @policy.id %>
      <br>
      <%= f.submit "Add to phone list", :class => "btn btn-small btn-warning"%> 
      <%end%>
    <%end%>
    <br>
    <h4>Phone list(s) used</h4>
      <table class="table table-bordered table-striped">
        <tbody>
          <%unless @inboundCallsphonelist_ids == [] %>
            <%@inboundCallsphonelist_ids.each do |id| %>
              <tr>
                <td><%=phonelist_id(id)%></td><td><%= link_to 'Remove List',policy_updatecallinbound_path([@policy.id, id, "next"]),:class=>"btn btn-small btn-danger" %></td>
              </tr>
            <%end%>
          <%else%>
            <tr>
              <td><span class="label label-important">No list currently assigned to Inbound calls</span></td>
            </tr>
          <%end%>

        </tbody>
      </table>
  </div>
</div>


 <div class="span4 offset1">
 <div class="well" style="background-color:grey;">
    <h4>Authorised for Outbound calls</h4> 
    <br>
    <%unless phonelist == [] %>
      <%=form_for @policy, :url => policy_updateaddcalloutbound_path(@policy.id) do |f| %>
      <%= f.select :phonelist_id, options_for_select(phonelist)%>
      <%= f.hidden_field :id, :value => @policy.id %>
      <br>
      <%= f.submit "Add to phone list", :class => "btn btn-small btn-warning"%> 
      <%end%>
    <%end%>
 <br>
 <h4>Phone list(s) used</h4>
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @outboundCallsphonelist_ids == []%>
 <%@outboundCallsphonelist_ids.each do |id| %>
 <tr>
 <td><%=phonelist_id(id)%></td><td><%= link_to 'Remove List',policy_updatecalloutbound_path([@policy.id, id, "next"]),:class=>"btn btn-small btn-danger" %></td>
</tr>
 <%end%>
 <%else%>
            <tr>
              <td><span class="label label-important">No list currently assigned to Outbound calls</span></td>
            </tr>
 <%end%>
</tbody>
</table>
</div>
</div>
</div>
</div>



<div class="well" style="background-color:#C0C0C0;">
  <h4>Add Messaging Settings To New Policy</h4>
  <br>
  <div class="row">
  <div class="span4 offset1">
  <div class="well" style="background-color:grey;">
    <h4>Authorised for Inbound SMS</h4> 
    <br>
    <%unless phonelist == [] %>
      <%=form_for @policy, :url => policy_updateaddsmsinbound_path(@policy.id) do |f| %>
      <%= f.select :phonelist_id, options_for_select(phonelist)%>
      <%= f.hidden_field :id, :value => @policy.id %>
      <br>
      <%= f.submit "Add to phone list", :class => "btn btn-small btn-warning"%> 
      <%end%>
    <%end%>
 <br>
 <h4>Phone list(s) used</h4>
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @inboundSMSphonelist_ids == []%>
 <%@inboundSMSphonelist_ids.each do |id| %>
 <tr>
 <td><%=phonelist_id(id)%></td><td><%= link_to 'Remove List',policy_updatesmsinbound_path([@policy.id, id, "next"]),:class=>"btn btn-small btn-danger" %></td>
</tr>
 <%end%>
 <%else%>
            <tr>
              <td><span class="label label-important">No list currently assigned to Inbound SMS</span></td>
            </tr>
 <%end%>
</tbody>
</table>
</div>
</div>


<div class="span4 offset1">
 <div class="well" style="background-color:grey;">
    <h4>Authorised for Outbound SMS</h4> 
    <br>
    <%unless phonelist == [] %>
      <%=form_for @policy, :url => policy_updateaddsmsoutbound_path(@policy.id) do |f| %>
      <%= f.select :phonelist_id, options_for_select(phonelist)%>
      <%= f.hidden_field :id, :value => @policy.id %>
      <br>
      <%= f.submit "Add to phone list", :class => "btn btn-small btn-warning"%> 
      <%end%>
    <%end%>
 <br>
<h4>Phone list(s) used</h4>
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @outboundSMSphonelist_ids == []%>
 <%@outboundSMSphonelist_ids.each do |id| %>
 <tr>
 <td><%=phonelist_id(id)%></td><td><%= link_to 'Remove List',policy_updatesmsoutbound_path([@policy.id, id, "next"]),:class=>"btn btn-small btn-danger" %></td>
 <%end%>
 <%else%>
            <tr>
              <td><span class="label label-important">No list currently assigned to Outbound SMS</span></td>
            </tr>
 <%end%>
</tbody>
</table>
</div>
</div>
</div>
</div>

<p align="right"><%= link_to "Finish", root_path, :class => "btn btn-primary" %></p>
</div>
</div>




