<div class="well">
  <h4>Device Lock</h4> 
    <a class="accordion-toggle" data-toggle="collapse" data-target="#lock">Lock Settings</a>
    <div id="lock" class="collapse in">
      <table class="table table-bordered table-striped">
        <thread>
          <th>Enabled</th><th>Pin</th>
        </thread>
        <tbody>
          <tr>
            <td><%=@policy.lock%></td>
            <td><%=@policy.lock_pin%></td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-small btn-primary" data-toggle="collapse" data-target="#updatelock">Update Lock Settings</a>
      <div id="updatelock" class="collapse in">
        <br>
        <%=form_for @policy, :url => policy_updatelock_path do |f| %>
          <label class="radio inline"> <%= f.radio_button :lock, true, :id=>"optionsRadios1" %> On </label>
          <label class="radio inline"> <%= f.radio_button :lock, false, :id=>"optionsRadios2"  %> Off </label>
          <br>
          <%= f.label "Pin Number" %>
          <%= f.text_field :lock_pin, :class => "input-mini"%>
          <%= f.hidden_field :id, :value => @policy.id %>
          <br>
          <%= f.submit "Update", :class => "btn btn-small btn-warning"%> 
        <%end%>
      </div>
    </div>
  </div>

<div class="well">
  <h4>Application Settings</h4> 
  <a class="accordion-toggle" data-toggle="collapse" data-target="#Applications">Applications</a>
  <div id="Applications" class="collapse in">
    <table class="table table-bordered table-striped">
      <thread>
        <th>Voice</th><th>Messaging</th>
      </thread>
      <tbody>
        <tr>
          <td><%=@policy.voice%></td>
          <td><%=@policy.messaging%></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped">
      <thread>
        <th>Maps</th><th>Phonebook</th>
      </thread>
      <tbody>
        <tr>
          <td><%=@policy.maps%></td>
          <td><%=@policy.phonebook%></td>
        </tr>
      </tbody>
    </table>

 <table class="table table-bordered table-striped">
 <thread>
<th>Browsing</th><th>Notes</th>
 </thread>
   <tbody>
    <tr>
     <td><%=@policy.browsing%></td>
     <td><%=@policy.notes%></td>
    </tr>
    </tbody>
</table>
 <a class="btn btn-small btn-primary" data-toggle="collapse" data-target="#updateapp">Update Application Settings</a>
      <div id="updateapp" class="collapse in">
        <br>
        <%=form_for @policy, :url => policy_updatesettings_path do |f| %>
          <label class="checkbox inline"> <%= f.check_box :voice, :id=>"optionsRadios3" %> Voice </label>
          <label class="checkbox inline"> <%= f.check_box :messaging, :id=>"optionsRadios3"  %> Messaging </label>
          <label class="checkbox inline"> <%= f.check_box :maps, :id=>"optionsRadios3" %> Maps </label>
          <br>
          <br>
          <label class="checkbox inline"> <%= f.check_box :phonebook, :id=>"optionsRadios3"  %> PhoneBook </label>
          <label class="checkbox inline"> <%= f.check_box :browsing, :id=>"optionsRadios3"  %> Browsing </label>
          <label class="checkbox inline"> <%= f.check_box :notes, :id=>"optionsRadios3"  %> Notes </label>
          <%= f.hidden_field :id, :value => @policy.id %>
          <br>
          <br>
          <%= f.submit "Update", :class => "btn btn-small btn-warning"%> 
        <%end%>
      </div>
</div>
</div>



 <div class="well">
 <h4>Authorised for Inbound calls</h4> 
 <br>
<a class="accordion-toggle" data-toggle="collapse" data-target="#inboundCallphonelist">Phone list(s) used</a>
<div id="inboundCallphonelist" class="collapse out">
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @inboundCallsphonelist_ids == nil %>
   <%@inboundCallsphonelist_ids.each do |id| %>
   <tr>
   <td><%=phonelist_id(id)%></td><td><%= link_to 'Edit List',phone_list_edit_path(id),:class=>"btn btn-small btn-warning" %> <%= link_to 'Remove List',policy_updatecallinbound_path([@policy.id, id]),:class=>"btn btn-small btn-danger" %></td>
   </tr>
   <%end%>
 <%end%>
</tbody>
</table>
</div>
<br>
 <a class="accordion-toggle" data-toggle="collapse" data-target="#inboundCalls">Inbound contacts</a>
 <div id="inboundCalls" class="collapse in">
 <table class="table table-bordered table-striped">
  <thread>
    <th>Name</th><th>Number</th>
  </thread>
 <tbody>
    <%@inboundCalls.each do |inboundCall| %>
    <tr>
     <td><%=inboundCall[0]%></td><td><%=inboundCall[1]%></td>
    </tr>
    <%end%>
    </tbody>
</table>
</div>
</div>


<div class="well">
<h4>Authorised for Outbound calls</h4> 
 <br>
 <a class="accordion-toggle" data-toggle="collapse" data-target="#outboundCallphonelist">Phone list(s) used</a>
<div id="outboundCallphonelist" class="collapse out">
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @outboundCallsphonelist_ids == nil%>
 <%@outboundCallsphonelist_ids.each do |id| %>
 <tr>
 <td><%=phonelist_id(id)%></td><td><%= link_to 'Edit List',phone_list_edit_path(id),:class=>"btn btn-small btn-warning" %> <%= link_to 'Remove List',policy_updatecalloutbound_path([@policy.id, id]),:class=>"btn btn-small btn-danger" %></td>
</tr>
 <%end%>
 <%end%>
</tbody>
</table>
</div>
<br>
 <a class="accordion-toggle" data-toggle="collapse" data-target="#outboundCalls">Outbound contacts</a>
  <div id="outboundCalls" class="collapse in">
 <table class="table table-bordered table-striped">
  <thread>
    <th>Name</th><th>Number</th>
  </thread>
 <tbody>
    <%@outboundCalls.each do |outboundCall| %>
    <tr>
     <td><%=outboundCall[0]%></td><td><%=outboundCall[1]%></td>
    </tr>
    <%end%>
    </tbody>
</table>
</div>
</div>

<div class="well">
<h4>Authorised for Inbound SMS</h4> 
 <br>
  <a class="accordion-toggle" data-toggle="collapse" data-target="#INboundSMSphonelist">Phone list(s) used</a>
<div id="INboundSMSphonelist" class="collapse out">
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @inboundSMSphonelist_ids == nil %>
 <%@inboundSMSphonelist_ids.each do |id| %>
 <tr>
 <td><%=phonelist_id(id)%></td><td><%= link_to 'Edit List',phone_list_edit_path(id),:class=>"btn btn-small btn-warning" %> <%= link_to 'Remove List',policy_updatesmsinbound_path([@policy.id, id]),:class=>"btn btn-small btn-danger" %></td>
</tr>
 <%end%>
 <%end%>
</tbody>
</table>
</div>
<br>
 <a class="accordion-toggle" data-toggle="collapse" data-target="#inboundSMS">Inbound contacts</a>
 <div id="inboundSMS" class="collapse in">
 <table class="table table-bordered table-striped">
    <thread>
    <th>Name</th><th>Number</th>
  </thread>
 <tbody>
    <%@inboundSMS.each do |inboundSms| %>
    <tr>
    <td><%=inboundSms[0]%></td><td><%=inboundSms[1]%></td>
    </tr>
    <%end%>
    </tbody>
</table>
</div>
</div>

<div class="well">
<h4>Authorised for Outbound SMS</h4> 
 <br>
   <a class="accordion-toggle" data-toggle="collapse" data-target="#outboundSMSphonelist">Phone list(s) used</a>
<div id="outboundSMSphonelist" class="collapse out">
<table class="table table-bordered table-striped">
  <tbody>
 <%unless @outboundSMSphonelist_ids == nil%>
 <%@outboundSMSphonelist_ids.each do |id| %>
 <tr>
 <td><%=phonelist_id(id)%></td><td><%= link_to 'Edit List',phone_list_edit_path(id),:class=>"btn btn-small btn-warning" %> <%= link_to 'Remove List',policy_updatesmsoutbound_path([@policy.id, id]),:class=>"btn btn-small btn-danger" %></td>
 <%end%>
 <%end%>
</tbody>
</table>
</div>
<br>
 <a class="accordion-toggle" data-toggle="collapse" data-target="#outboundSMS">Outbound contacts</a>
  <div id="outboundSMS" class="collapse in">
 <table class="table table-bordered table-striped">
    <thread>
    <th>Name</th><th>Number</th>
  </thread>
 <tbody>
    <%@outboundSMS.each do |outboundSms| %>
    <tr>
     <td><%=outboundSms[0]%></td><td><%=outboundSms[1]%></td>
    </tr>
    <%end%>
    </tbody>
</table>
</div>
</div>